<div
  th:fragment="userCardFragment(thUser)"
  class="flex items-center justify-between gap-8 px-6 py-4 bg-gray-100 border-b border-gray-300 hover:bg-gray-200 transition"
>
  <!-- Foto + Nombre -->
    <div class="flex items-center gap-4 min-w-[200px]">
      <img
        class="w-12 h-12 rounded-full object-cover"
        th:src="${thUser.profileImage}"
        alt="Foto de perfil"
      />
    <div class="truncate">
      <p class="text-xl font-bold text-primary truncate" th:text="${thUser.username}">username</p>
      <p class="text-base text-primary truncate" th:text="${thUser.fullName}">Nombre completo</p>
    </div>
  </div>
<div th:if="${session.user.userType.name() == 'TRAINER'} and (!${thUser.trainer} or (${thUser.trainer} != null and ${thUser.trainer.id} == ${session.user.id}))">
          <div th:replace="~{fragments/app/trainers/trainerButton :: assignTrainerButton(thUser=${thUser})}"></div>
    </div>
<div th:if="${session.user.userType.name() == 'ADMIN'} and ${thUser.userType.name() != 'ADMIN'}">
              <div th:replace="~{fragments/app/admin/adminButton :: assignAdminButton(thUser=${thUser})}"></div>
     </div>
  </div>
</div>
