<div class="w-full">
  <label class="mb-2 block text-sm font-medium text-gray-900">
    Dificultad del evento *
  </label>

  <div class="flex flex-col gap-1">
    <div class="flex items-center">
      <input
        id="difficulty-easy"
        type="radio"
        value="EASY"
        name="difficulty"
        class="h-4 w-4 border-gray-300 bg-gray-100 text-green-600 focus:ring-green-500"
        required
      />
      <label for="difficulty-easy" class="ms-2 text-sm font-medium text-gray-900">Fácil</label>
    </div>
    <div class="flex items-center">
      <input
        id="difficulty-medium"
        type="radio"
        value="MEDIUM"
        name="difficulty"
        class="h-4 w-4 border-gray-300 bg-gray-100 text-yellow-600 focus:ring-yellow-500"
      />
      <label for="difficulty-medium" class="ms-2 text-sm font-medium text-gray-900">Media</label>
    </div>
    <div class="flex items-center">
      <input
        id="difficulty-hard"
        type="radio"
        value="HARD"
        name="difficulty"
        class="h-4 w-4 border-gray-300 bg-gray-100 text-red-600 focus:ring-red-500"
      />
      <label for="difficulty-hard" class="ms-2 text-sm font-medium text-gray-900">Difícil</label>
    </div>
  </div>
</div>
