<!doctype html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/appLayout}"
  th:with="activePage='Home'"
>
  <head>
    <title th:text="'Home - ' + ${session.user.username}">Home</title>
  </head>
  <body>
    <main layout:fragment="content">
      <form th:action="@{/tracking/create}" method="post">
        <p>title</p>
        <input type="text" name="title" />
        <p>description</p>
        <input type="text" name="description" />
        <p>Km</p>
        <div th:replace="~{fragments/app/appInput :: appInput('text', 'km', 'Distance')}"></div>
        <p>Duration</p>
        <input type="number" name="durationH" />
        <input type="number" name="durationM" />
        <input type="number" name="durationS" />
        <p>Start place</p>
        
        <p>Images</p>

        <button type="submit">submit</button>
      </form>
    </main>
  </body>
</html>
