<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form th:action="@{/tracking/create}" method="post">
      <p>title</p>
      <input type="text" name="title" />
      <p>description</p>
      <input type="text" name="description" />
      <p>Km</p>
      <input type="number" name="km" />
      <p>Duration</p>
      <input type="number" name="durationH" />
      <input type="number" name="durationM" />
      <input type="number" name="durationS" />
      <p>Start place</p>
      
      <p>Images</p>

      <button type="submit">submit</button>
    </form>
  </body>
</html>
