<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/img/favicon.ico" type="image/svg+xml" />
    <link href="/css/tailwind.output.css" rel="stylesheet" />
    <script src="/js/app/appHeaderSidebar.js"></script>
    <title>Athletix</title>
  </head>
  <body class="flex flex-col">
    <header th:replace="~{fragments/app/header/appHeader}"></header>
    <section>
      <div th:replace="~{fragments/app/sidebar/appSidebar :: sidebar(${activePage})}"></div>
      <section id="main" class="mt-16 h-[calc(100vh-4rem)] overflow-y-auto md:ml-64">
        <main layout:fragment="content" class="h-full w-full"></main>
      </section>
    </section>
  </body>
</html>
