<aside class="flex w-full flex-col gap-4 bg-white px-4 py-6 lg:w-[450px]">
  <div class="flex items-center justify-between">
    <h2 class="text-xl font-bold text-gray-800">Estadísticas del corredor</h2>
    <button id="toggleStats" class="text-gray-500 hover:cursor-pointer hover:text-gray-700 focus:outline-none">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        id="toggleIcon"
        class="h-6 w-6 transition-transform duration-200"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
      </svg>
    </button>
  </div>

  <div id="stats" class="flex flex-col gap-2">
    <div class="mt-6">
      <h3 class="text-md mb-2 font-semibold text-gray-700">Progreso mensual</h3>
      <canvas id="myChart" class="h-48 w-full"></canvas>
    </div>

    <div class="grid grid-cols-2 gap-4">
      <div class="flex flex-col items-center justify-center rounded-xl bg-blue-100 p-4 shadow">
        <p class="text-sm text-gray-600">Total km</p>
        <p
          th:text="${#numbers.formatDecimal(trackingStatistics.totalDistance, 1, 1)} + ' km'"
          class="text-2xl font-semibold text-blue-700"
        ></p>
      </div>

      <div class="flex flex-col items-center justify-center rounded-xl bg-green-100 p-4 shadow">
        <p class="text-sm text-gray-600">Favorite sport</p>
        <p
          th:text="${trackingStatistics.favoriteSport != null ? trackingStatistics.favoriteSport : 'N/A'}"
          class="text-2xl font-semibold text-green-700"
        ></p>
      </div>

      <div class="flex flex-col items-center justify-center rounded-xl bg-purple-100 p-4 shadow">
        <p class="text-sm text-gray-600">Tiempo Total</p>
        <p th:text="${trackingStatistics.totalDuration}" class="text-2xl font-semibold text-purple-700"></p>
      </div>

      <div class="flex flex-col items-center justify-center rounded-xl bg-yellow-100 p-4 shadow">
        <p class="text-sm text-gray-600">Actividades</p>
        <p th:text="${trackingStatistics.totalTrackings}" class="text-2xl font-semibold text-yellow-700"></p>
      </div>
    </div>
  </div>
</aside>

<script th:inline="javascript">
  /*<![CDATA[*/
  let monthlyKm = /*[[${trackingStatistics.monthlyKm}]]*/ {};
  /*]]>*/
</script>

<script type="module">
  import { ChartBuilder } from '/js/charts/ChartBuilder.js';
  import { getLineChartConf } from '/js/charts/chartTypes/lineChart.js';

  const etiquetas = Object.keys(monthlyKm);
  const datos = Object.values(monthlyKm);

  const config = getLineChartConf(etiquetas, datos, 'KM peer month');
  ChartBuilder.createLine('myChart', config);

  const toggleStats = document.getElementById('toggleStats');
  const stats = document.getElementById('stats');
  const toggleIcon = document.getElementById('toggleIcon');

  function updateIconState() {
    const isHidden = stats.classList.contains('hidden');
    toggleIcon.style.transform = isHidden ? 'rotate(0deg)' : 'rotate(180deg)';
  }

  document.addEventListener('DOMContentLoaded', function () {
    if (window.innerWidth < 768) {
      stats.classList.add('hidden');
    }
    updateIconState();
  });

  toggleStats.addEventListener('click', function () {
    stats.classList.toggle('hidden');
    updateIconState();

    localStorage.setItem('statsVisible', !stats.classList.contains('hidden'));
  });

  document.addEventListener('DOMContentLoaded', function () {
    const savedState = localStorage.getItem('statsVisible');
    if (savedState !== null) {
      if (savedState === 'false') {
        stats.classList.add('hidden');
      } else {
        stats.classList.remove('hidden');
      }
      updateIconState();
    }
  });
</script>
