<div class="fixed right-6 bottom-6">
  <a href="/tracking/create" class="bg-primary rounded-full p-4 transition-all duration-300 ease-in-out hover:scale-110 hover:shadow-lg flex items-center justify-center w-14 h-14">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-6 w-6 text-white"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
      stroke-width="2"
    >
      <path stroke-linecap="round" stroke-linejoin="round" d="M12 4v16m8-8H4" />
    </svg>
  </a>
</div>