<!-- <aside
  id="sidebar"
  xmlns:th="http://www.thymeleaf.org"
  th:fragment="sidebar(activePage)"
  class="fixed left-0 z-40 mt-16 h-[calc(100vh-4rem)] w-64 -translate-x-full border-r border-gray-200 bg-white shadow-xl transition-transform md:translate-x-0"
>
  <div class="flex h-full w-full items-center p-3">
    <nav class="flex w-full flex-col items-center">
      <ul class="flex w-full flex-col gap-1 rounded-lg pl-4 text-4xl">
        <li th:replace="~{fragments/app/sidebar/sidebarButton :: sidebarButton('/home', 'Home', ${activePage})}"></li>
        <li th:replace="~{fragments/app/sidebar/sidebarButton :: sidebarButton('/event', 'Events', ${activePage})}"></li>
        <li th:replace="~{fragments/app/sidebar/sidebarButton :: sidebarButton('/profile', 'Profiles', ${activePage})}"></li>
        <li th:replace="~{fragments/app/sidebar/sidebarButton :: sidebarButton('/friend', 'Friends', ${activePage})}"></li>
        <li th:replace="~{fragments/app/sidebar/sidebarButton :: sidebarButton('/chat', 'Chats', ${activePage})}"></li>
        <li class="mt-2">
          <form th:action="@{/logout}" method="post">
            <button
              class="relative inline-block transform cursor-pointer transition-all duration-300 after:absolute after:bottom-0 after:left-0 after:h-[2px] after:w-0 after:bg-red-500 after:transition-all after:duration-300 after:content-[''] hover:scale-105 hover:font-bold text-red-500 hover:after:w-full"
            >
              Sign out
            </button>
          </form>
        </li>
      </ul>
    </nav>
    
  </div>
</aside> -->

<aside
  id="sidebar"
  xmlns:th="http://www.thymeleaf.org"
  th:fragment="sidebar(activePage)"
  class="fixed left-0 z-40 mt-16 h-[calc(100vh-4rem)] w-64 -translate-x-full border-r border-gray-200 bg-white shadow-xl transition-transform md:translate-x-0"
>
  <div class="flex h-full w-full p-4">
    <nav class="flex w-full flex-col items-center py-6">
      <div class="flex w-full justify-between h-full flex-col gap-6 rounded-lg pl-8 text-xl font-semibold text-gray-700">
        <ul class="flex flex-col gap-4">
          <li th:replace="~{fragments/app/sidebar/sidebarButton :: sidebarButton('/home', #{app.sidebar.home}, ${activePage}, 'home')}"></li>
          <li th:replace="~{fragments/app/sidebar/sidebarButton :: sidebarButton('/event', #{app.sidebar.event}, ${activePage}, 'event')}"></li>
          <li th:replace="~{fragments/app/sidebar/sidebarButton :: sidebarButton('/tracking', #{app.sidebar.tracking}, ${activePage}, 'tracking')}"></li>
          <li th:replace="~{fragments/app/sidebar/sidebarButton :: sidebarButton('/friend', #{app.sidebar.friend}, ${activePage}, 'friend')}"></li>
          <li th:replace="~{fragments/app/sidebar/sidebarButton :: sidebarButton('/chat', #{app.sidebar.chat}, ${activePage}, 'chat')}"></li>
        </ul>
      </div>
    </nav>
  </div>
</aside>

