<li th:fragment="sidebarButton(url, name, activePage, icon)">
  <a th:href="@{${url}}">
    <span
      class="after:bg-primary hover:text-primary relative inline-flex items-center gap-3 transform cursor-pointer transition-all duration-300 after:absolute after:bottom-0 after:left-0 after:h-[3px] after:w-0 after:transition-all after:duration-300 after:content-[''] hover:scale-110 hover:font-bold hover:after:w-full"
      th:classappend="${activePage == name} ? ' text-primary' : ''"
    >
      <img th:src="@{'/svg/' + ${icon} + '.svg'}" alt="" class="w-6 h-6" />
      <span th:text="${name}"></span>
    </span>
  </a>
</li>
