<section class="mx-auto mt-28 max-w-screen-xl px-4 py-8 text-center lg:px-12 lg:py-16">
  <h1
    class="mb-4 text-4xl leading-none font-extrabold tracking-tight text-gray-900 md:text-5xl lg:text-6xl"
  >
    Donde el deporte une, la comunidad crece.
  </h1>
  <p class="mb-8 text-lg font-normal text-gray-500 sm:px-16 lg:text-xl xl:px-48">
    Conecta con otros atletas, comparte tus logros, organiza partidos, entrena en comunidad y sigue
    la actividad de tus equipos favoritos. Ya seas amateur o profesional, Athletix es tu espacio
    para vivir el deporte al máximo.
  </p>
  <div
    class="mb-8 flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0 sm:space-x-4 lg:mb-16"
  >
    <a
      href="#"
      class="bg-primary hover:bg-primary-800 focus:ring-primary-300 inline-flex items-center justify-center rounded-lg px-5 py-3 text-center text-base font-medium text-white focus:ring-4"
    >
      Learn more
      <img th:src="@{/svg/right-arrow.svg}" class="-mr-1 ml-2 h-5 w-5" alt="arrow right" />
    </a>
  </div>
</section>
