<footer class="m-4 rounded-lg bg-white shadow-sm ">
  <div class="mx-auto w-full max-w-screen-xl p-4 flex flex-col items-center md:flex-row md:items-start md:justify-between">
    <span class="text-sm text-gray-500 sm:text-center ">
      © [[${#dates.format(#dates.createNow(), 'yyyy')}]]
      <a href="#" class="hover:underline">Athletix™</a>
      . All Rights Reserved.
    </span>
    <ul
      class="mt-3 flex flex-wrap items-center text-sm font-medium text-gray-500 sm:mt-0 "
    >
      <li>
        <a  th:text="#{login.footer.about}"href="/about" class="me-4 hover:underline md:me-6"></a>
      </li>
      <li>
        <a th:text="#{login.footer.privacyPolicy}" href="#" class="me-4 hover:underline md:me-6"></a>
      </li>
      <li>
        <a th:text="#{login.footer.licensing}" href="#" class="me-4 hover:underline md:me-6"></a>
      </li>
      <li>
        <a th:text="#{login.footer.contact}" href="#" class="hover:underline">Contact</a>
      </li>
    </ul>
  </div>
</footer>
