<!doctype html>
<html>
  <head>
    <title>Chat entre amigos</title>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1.5.0/dist/sockjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/stompjs@2.3.3/lib/stomp.min.js"></script>
    <script src="/js/app/chat/chat.js"></script>
  </head>
  <body>
    <div id="connect-container">
      <form id="connectForm">
        <input type="text" id="username" placeholder="Tu nombre" />
        <button type="submit">Conectar</button>
      </form>
    </div>

    <div id="chat-container" style="display: none">
      <div id="messageArea"></div>
      <form id="sendForm">
        <input type="text" id="recipient" placeholder="Amigo a enviar" />
        <input type="text" id="message" placeholder="Escribe un mensaje" />
        <button type="submit">Enviar</button>
      </form>
    </div>
  </body>
</html>
