<!doctype html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/cleanLayout}"
>
  <head>
    <title>Athletix - Create Account</title>
  </head>
  <body class="mt-28 bg-gray-100">
    <main layout:fragment="content" class="p-6">
      <form th:action="@{/create-account}" method="post" class="mx-auto">
        <!-- <div th:replace="fragments :: inputLabel('email', "EmailAddress", "Email address")"></div> -->
      </form>
    </main>
  </body>
</html>
