<!doctype html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/cleanLayout}"
>
  <head>
    <title>Athletix - Create Account</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script type="module" src="/js/createAccountPage.js"></script>
  </head>
  <body class="bg-gray-100">
    <main layout:fragment="content" class="px-6 pt-6 pb-6 md:pb-0">
      <div class="mb-5 inline-flex w-full items-center justify-center space-x-3 rtl:space-x-reverse">
        <img src="/img/favicon.png" class="h-10 w-10" alt="Athletix Logo" />
        <h1 class="self-center text-4xl font-semibold whitespace-nowrap">Athletix</h1>
      </div>
      <form th:action="@{/user/create}" method="post" enctype="multipart/form-data" class="mx-auto w-full max-w-4xl">
        <div class="flex flex-col md:w-full md:flex-row md:gap-10">
          <div class="w-full">            
            <div th:replace="~{fragments/login/inputLabel :: inputLabel('text', 'name', #{createAccount.name})}"></div>
            <div class="flex flex-col md:flex-row md:gap-6">
              <div th:replace="~{fragments/login/inputLabel :: inputLabel('text', 'surname', #{createAccount.surname})}"></div>
              <div th:replace="~{fragments/login/inputLabel :: inputLabel('text', 'surname2', #{createAccount.surname2})}"></div>
            </div>
            <div th:replace="~{fragments/login/inputLabel :: inputLabel('email', 'email', #{createAccount.email})}"></div>
            <div th:replace="~{fragments/login/inputLabel :: inputLabel('text', 'username', #{createAccount.username})}"></div>
            <div th:replace="~{fragments/login/inputLabel :: inputLabel('password', 'password', #{createAccount.password})}"></div>
            <div th:replace="~{fragments/login/inputLabel :: inputLabel('password', 'repeatPassword', #{createAccount.confirmPassword})}"></div>
            <div th:replace="~{fragments/login/createError}"></div>
          </div>
          <div class="w-full">
            <div th:replace="~{fragments/login/inputLabel :: inputLabel('text', 'town', #{createAccount.town})}"></div>
            <div th:replace="~{fragments/login/inputLabel :: inputLabel('number', 'phone', #{createAccount.phone})}"></div>
            <div class="flex flex-col md:flex-row md:gap-6">
              <div th:replace="~{fragments/login/inputLabel :: inputLabel('number', 'height', #{createAccount.height})}"></div>
              <div th:replace="~{fragments/login/inputLabel :: inputLabel('number', 'weight', #{createAccount.weight})}"></div>
            </div>
            <div class="flex flex-col md:flex-row gap-6 mb-4">
              <div th:replace="~{fragments/login/datePicker}"></div>
              <div th:replace="~{fragments/login/genderRadioBottons}"></div>
            </div>
            <div>
              <label th:text="#{createAccount.profilePhoto}" class="mb-2 block text-xl font-medium text-gray-700"></label>
              <div th:replace="~{fragments/login/fileInput}"></div>
            </div>
          </div>
        </div>
        <button
          type="submit"
          th:text="#{createAccount.createcount}"class="bg-primary mt-4 inline-flex w-full items-center justify-center rounded-lg px-5 py-3 text-center text-base font-medium text-white hover:cursor-pointer focus:ring-4 md:w-auto"
        >
          
        </button>
      </form>
      <div class="mt-4 flex w-full items-center justify-center">
        <p  class="w-full max-w-4xl text-sm font-light text-gray-500">
          
          <a  href="/login"  th:text="#{createAccount.signIn}" class="text-primary font-medium hover:underline"></a>
        </p>
      </div>
    </main>
  </body>
</html>
