<!doctype html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/appLayout}"
  th:with="activePage='Friends'"
>
  <head>
    <title th:text="'Friends - ' + ${session.user.username}">Home</title>
  </head>
  <body>
    <main layout:fragment="content" class="mx-auto flex w-full max-w-4xl justify-center">
      <div class="flex w-full flex-col">
        <h1 th:text="#{friend.title}" class="p-6 text-3xl font-bold"></h1>
        <div class="flex w-full flex-col gap-1">
          <div th:replace="~{fragments/app/friend/friendsList}"></div>
        </div>

        <h2 th:text="#{friend.newFriends}" class="p-6 text-2xl font-bold"></h2>
        <div class="flex w-full flex-col gap-1 mb-2">
          <div th:replace="~{fragments/app/friend/nonFriendsList}"></div>
        </div>
      </div>
    </main>
  </body>
</html>
