<!doctype html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/appLayout}"
  th:with="activePage='Home'"
>
  <head>
    <title th:text="'Home - ' + ${session.user.username}">Home</title>
  </head>
  <body>
    <section layout:fragment="content">
      <h1 th:text="${session.user.username}"></h1>
      <p th:text="${session.user.id}"></p>
      <p th:text="${session.user.height}"></p>
      <p th:text="${session.user.town}"></p>
    </section>
  </body>
</html>
