<!doctype html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/appLayout}"
>
  <head>
    <title th:text="'Home - ' + ${session.user.username}">Home</title>
  </head>
  <body>
    <section layout:fragment="content">
      <h1 th:text="${session.user.username}">Usuario-> ...</h1>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi consequuntur dolore dignissimos rerum ea ipsam
        provident deserunt, cum quia corporis vitae sapiente velit beatae, quibusdam tempore necessitatibus molestiae
        saepe officia ut perspiciatis ex nam, odit quod qui. Atque recusandae delectus facere illo explicabo ullam, quas
        nihil sit. Minus rerum quibusdam mollitia. Ducimus autem blanditiis velit placeat dolorum itaque cumque, et
        minima pariatur. Nesciunt ea distinctio eligendi saepe, temporibus excepturi assumenda porro libero dolores
        tenetur obcaecati in voluptatum consequatur cum autem amet perferendis atque. Unde officia dolores odit!
        Inventore consequuntur excepturi exercitationem a quidem non eveniet laboriosam ad sunt, et doloribus porro
        provident similique blanditiis odit tenetur natus voluptate debitis iste saepe! Delectus architecto dolorum illo
        expedita voluptate, magnam repellat consectetur id saepe aliquid cumque ipsam quisquam cum sint facere.
        Voluptate commodi pariatur mollitia ex ea voluptates similique nam incidunt aut reiciendis explicabo error
        nostrum repellat ut odit, deleniti quaerat excepturi vel sapiente? Iste, nostrum! Voluptate veritatis, adipisci
        quae repellat ex harum nisi neque ipsum cupiditate odit explicabo at, maxime ad voluptatum iure ducimus
        exercitationem consectetur iste doloremque. Repudiandae corrupti enim nobis voluptates omnis ad consequatur, ab,
        iste beatae similique, suscipit voluptatum cupiditate sequi repellat asperiores veritatis ipsum repellendus
        placeat. Laborum, commodi quaerat! Dolorum, nisi maiores eveniet earum tempore culpa. Ad natus dolore culpa
        eaque repellat, doloribus deleniti iusto, quis aspernatur perferendis modi tempore commodi aliquam assumenda
        nihil est alias dicta minima voluptate maxime eum tenetur similique omnis. Quos, totam, excepturi at quas
        maxime, quo aliquam dolor numquam dolorem illo doloremque.Lorem250 Lorem ipsum dolor sit amet, consectetur
        adipisicing elit. Corporis qui quo quam dolorem praesentium asperiores, architecto nostrum id saepe. Debitis
        nam, voluptatum dolore voluptates recusandae animi, amet culpa assumenda, facere illo adipisci? Minima commodi
        deserunt quam quisquam dolore cupiditate debitis? Maiores eveniet soluta rerum blanditiis! Praesentium
        doloremque architecto, recusandae voluptatum vitae consequatur nobis dolorem sed nemo. Aliquam consequatur
        exercitationem quod tempora sapiente nam dignissimos, animi aperiam perspiciatis recusandae voluptatum,
        similique possimus illo, assumenda quaerat. Laborum maxime at fugiat libero, perferendis voluptatum quas amet
        facilis explicabo blanditiis excepturi similique magni nostrum nihil fuga repellat, voluptate, quos
        necessitatibus id. Ducimus quae maxime adipisci ullam asperiores cumque, praesentium est itaque explicabo velit
        atque corporis natus blanditiis dolorem molestiae. Deleniti fugiat, sapiente corrupti atque quo dolor eum omnis
        harum id corporis architecto, itaque repellendus molestiae tenetur illo tempora commodi tempore, aspernatur ex
        suscipit soluta velit. Reiciendis, dolorem suscipit. At, vel expedita dolorum, rem fuga maiores odio delectus
        quaerat quia sint facere dolorem similique accusamus, alias consectetur aliquid neque. Accusantium delectus
        laborum nobis animi fugit nemo quidem, inventore corrupti odit repellendus autem enim dicta minima! Sint, harum
        vel officiis asperiores tenetur autem distinctio in fugiat mollitia similique aliquam, dolorem nobis est quaerat
        omnis voluptatibus dolorum adipisci itaque aliquid magnam ipsum corporis perspiciatis ab incidunt? Voluptate,
        ex, mollitia excepturi distinctio obcaecati magnam quo esse omnis voluptatem maiores tempora dolor ratione illo.
        Nostrum suscipit vel maxime tempora veniam enim? Porro reprehenderit quaerat sint alias maiores harum dolorem,
        fugiat ipsum, neque, nulla unde corrupti eveniet illum ab esse!
      </p>
    </section>
  </body>
</html>
