<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/cleanLayout}"
  class="h-screen"
>
  <head>
    <title>Athletix - Login</title>
  </head>
  <body class="h-screen bg-gray-100">
    <main layout:fragment="content" class="flex h-full items-center justify-center">
      <div class="w-full p-4 px-6">
        <form th:action="@{/login}" method="post" class="mx-auto">
          <div class="group relative z-0 mb-5 w-full">
            <input
              type="text"
              name="username"
              class="peer focus:border-primary block w-full appearance-none border-0 border-b-2 border-gray-300 bg-transparent px-0 py-2.5 text-sm text-gray-900 focus:ring-0 focus:outline-none"
              placeholder=" "
              required
            />
            <label
              for=""
              class="absolute top-3 -z-10 origin-[0] -translate-y-6 scale-75 transform text-sm text-gray-500 duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:start-0 peer-focus:-translate-y-6 peer-focus:scale-75 peer-focus:font-medium peer-focus:text-blue-600 rtl:peer-focus:left-auto rtl:peer-focus:translate-x-1/4"
              >Username</label
            >
          </div>
          <div class="group relative z-0 mb-5 w-full">
            <input
              type="password"
              name="password"
              class="peer focus:border-primary block w-full appearance-none border-0 border-b-2 border-gray-300 bg-transparent px-0 py-2.5 text-sm text-gray-900 focus:ring-0 focus:outline-none"
              placeholder=" "
              required
            />
            <label
              for=""
              class="absolute top-3 -z-10 origin-[0] -translate-y-6 scale-75 transform text-sm text-gray-500 duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:start-0 peer-focus:-translate-y-6 peer-focus:scale-75 peer-focus:font-medium peer-focus:text-blue-600 rtl:peer-focus:translate-x-1/4"
              >Password</label
            >
          </div>
          <div class="mb-4 flex items-center rounded-lg bg-red-50 p-4 text-sm text-red-800" th:if="${param.error}">
            <img th:src="@{/svg/info.svg}" class="me-3 inline h-4 w-4 shrink-0" alt="info" />
            Invalid username or password.
          </div>
          <!-- <div th:if="${param.logout}">You have been logged out.</div> -->
          <div class="mt-10">
            <input
              type="submit"
              value="Sign In"
              class="bg-primary hover:bg-primary-800 focus:ring-primary-300 flex w-full items-center justify-center rounded-lg px-5 py-3 text-center text-base font-medium text-white focus:ring-4"
            />
          </div>
        </form>
      </div>
    </main>
  </body>
</html>
