<!doctype html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/appLayout}"
  th:with="activePage='Profiles'"
>
  <head>
    <title>Profiles</title>
  </head>
  <body>
    <section layout:fragment="content">
      <table class="min-w-full divide-y divide-gray-200 text-left text-sm">
        <thead class="bg-gray-50 tracking-wider text-gray-700 uppercase">
          <tr>
            <th class="px-6 py-3">Username</th>
            <th class="px-6 py-3">Name</th>
            <th class="px-6 py-3">Surname</th>
            <th class="px-6 py-3">City</th>
            <th class="px-6 py-3">Following</th>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-200">
          <tr th:replace="~{fragments/app/profile/profileTableRow}"></tr>
          <tr th:replace="~{fragments/app/profile/profileTableRow}"></tr>
          <tr th:replace="~{fragments/app/profile/profileTableRow}"></tr>
          <tr th:replace="~{fragments/app/profile/profileTableRow}"></tr>
          <tr th:replace="~{fragments/app/profile/profileTableRow}"></tr>
        </tbody>
      </table>
    </section>
  </body>
</html>
