<!doctype html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/appLayout}"
  th:with="activePage='Profiles'"
>
  <head>
    <title>Profiles</title>
    <link rel="stylesheet" href="https://unpkg.com/photoswipe@5/dist/photoswipe.css" />
    <script src="https://unpkg.com/photoswipe@5/dist/photoswipe-lightbox.esm.min.js" type="module"></script>
    <script type="module" src="/js/app/imageGallery.js"></script>
  </head>
  <body layout:fragment="content" >
    <div class="w-full max-w-md bg-[#0E1621] text-white rounded-md overflow-hidden shadow-md">
      <div th:each="user : ${users}" >
          <div th:replace="~{fragments/app/user/userCard :: userCardFragment(thUser=${user})}"></div>
      </div>
    </div>
  </body>
</html>
