<!doctype html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/appLayout}"
  th:with="activePage='Tracking'"
>
  <head>
    <title th:text="Tracking"></title>
    <link rel="stylesheet" href="https://unpkg.com/photoswipe@5/dist/photoswipe.css" />
    <script src="https://unpkg.com/photoswipe@5/dist/photoswipe-lightbox.esm.min.js" type="module"></script>
    <script type="module" src="/js/app/imageGallery.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  <body>
    <main layout:fragment="content" class="flex h-full w-full justify-center">
      <div class="flex h-full w-full flex-col items-center gap-4 py-6 md:px-6">
        <div th:each="tracking : ${trackings}">
          <p th:text="${tracking.title}"></p>
          <p th:text="${tracking.description}"></p>
          <p th:text="${tracking.km}"></p>
          <p th:text="${tracking.duration}"></p>
          <p th:text="${tracking.pace}"></p>
          <p th:text="${tracking.date}"></p>
          <p>----------------------------</p>
        </div>
        <div th:replace="~{fragments/app/tracking/trackingCard}"></div>
        <div th:replace="~{fragments/app/tracking/trackingCard}"></div>
        <div th:replace="~{fragments/app/tracking/trackingCard}"></div>
        <div th:replace="~{fragments/app/tracking/trackingCard}"></div>
      </div>
      
      <aside th:replace="~{fragments/app/tracking/statistics}"></aside>
      <div th:replace="~{fragments/app/tracking/trackingCreateButton}"></div>
    </main>
  </body>
</html>


