<!doctype html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/appLayout}"
  th:with="activePage='Tracking'"
>
  <head>
    <title th:text="'Tracking - ' + ${session.user.username}"></title>
  </head>
  <body>
    <img class="fixed bottom-0" src="/static/svg/plus.svg" alt="">
    <section layout:fragment="content" class="flex flex-col md:flex-row">
      <div class="tracking w-7/10 ">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, perspiciatis deserunt recusandae similique nihil, veniam amet iste necessitatibus quo, odit possimus deleniti facere fugiat corporis quae! Eligendi asperiores ad earum.
      </div>
      <div class="estadisticas w-3/10">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam, repudiandae. Officia minima tempore possimus recusandae rerum sed, quae ex error? Fugiat minus, velit dolorem atque commodi quos perspiciatis nihil minima.
      </div>
    </section>
  </body>
</html>
