<!doctype html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/appLayout}"
    th:with="activePage='User Exercises'"

>
  <head>
    <title th:text="Exercise"></title>
    <link rel="stylesheet" href="https://unpkg.com/photoswipe@5/dist/photoswipe.css" />
    <script src="https://unpkg.com/photoswipe@5/dist/photoswipe-lightbox.esm.min.js" type="module"></script>
    <script type="module" src="/js/app/imageGallery.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  <body>
    <main layout:fragment="content" class="flex h-full w-full justify-center">
      <div class="flex h-full w-full flex-col items-center gap-4 py-6 md:px-6">
        <div th:each="exercise : ${exercises}">
          <div
            th:replace="~{fragments/app/exercise/exerciseCard :: exerciseCardFragment(thExercise=${exercise})}"
          ></div> 
        </div>
      </div>
    </main>
  </body>
</html>
