<tr class="transition duration-300 hover:bg-gray-100">
  <td class="flex px-6 py-4 font-medium text-gray-900">
    <div>
      <img
        src="https://assets-us-01.kc-usercontent.com/31dbcbc6-da4c-0033-328a-d7621d0fa726/2bde43b9-8a83-4c55-b910-e66c9fe47113/2025-02-11T215120Z_731355763_UP1EL2B1OPIWD_RTRMADP_3_SOCCER-CHAMPIONS-MCI-RMA-REPORT.JPG?ver=12-01-2025?w=3840&q=75"
        alt="User profile picture"
        class="block h-8 w-8 rounded-full"
      />
    </div>
    <div>
      <p>Juan Pérez</p>
    </div>
  </td>
  <td class="px-6 py-4 text-gray-700">juan@example.com</td>
  <td class="px-6 py-4">Administrador</td>
  <td class="px-6 py-4">
    <span class="rounded bg-green-100 px-2 py-1 text-xs font-semibold text-green-800">Activo</span>
  </td>
  <td class="space-x-2 px-6 py-4">
    <button class="text-blue-600 hover:underline">Editar</button>
    <button class="text-red-600 hover:underline">Eliminar</button>
  </td>
</tr>
