<!doctype html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/appLayout}"
  th:with="activePage='Event'"
>
  <head>
    <title th:text="'Home - ' + ${session.user.username}">Home</title>
  </head>
  <body>
    <main layout:fragment="content">
      <div th:replace="~{fragments/app/event/eventPage/eventPageHero}"></div>

      <section class="mt-4 flex flex-col gap-6 md:flex-row">
        <div class="w-6/10 rounded-xl bg-white p-6">
          <h2 class="mb-4 text-2xl font-semibold text-gray-900">Descripción</h2>
          <p class="leading-relaxed">
            El monte Cervino (en español e italiano), Matterhorn (en alemán), Mont Cervin o Le Cervin (en francés) o
            Hore u Horu (walser) es posiblemente la montaña más famosa de los Alpes por su espectacular forma de
            pirámide, muchas veces reproducida. Su cumbre, de 4478 metros, es la quinta cima más alta de los Alpes. Está
            localizada en la frontera entre Suiza e Italia. Queda encima de la ciudad de Zermatt, en el cantón del
            Valais, al noreste, y Breuil-Cervinia, en el Valle de Aosta, al sur.
          </p>
        </div>
        <div class="w-4/10 rounded-xl bg-white p-6">
          <h2 class="mb-4 text-2xl font-semibold text-gray-900">Ubicación</h2>
          <div id="map" class="h-96 w-full rounded-lg"></div>
        </div>
      </section>
    </main>
  </body>
</html>
