<!doctype html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/appLayout}"
  th:with="activePage='Home'"
>
  <head>
    <title th:text="'Home - ' + ${session.user.username}">Home</title>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
  </head>
  <body>
    <main layout:fragment="content" class="p-4">
      <h2 class="text-center text-2xl font-bold text-gray-800 sm:text-3xl xl:text-left">Participants</h2>

      

      <div th:replace="~{fragments/app/event/eventPage/participantList}"></div>



    </main>
  </body>
</html>
