<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50">
            <tr>
                <th class="px-6 py-3">Username</th>
                <th class="px-6 py-3 hidden lg:table-cell">Full Name</th>
                <th class="px-6 py-3">Role</th>
                <th class="px-6 py-3 hidden lg:table-cell">Email</th>
                <th class="px-6 py-3 hidden lg:table-cell">Phone</th>
                <th class="px-6 py-3 lg:hidden">Info</th>


            </tr>
        </thead>
        <tbody>
            <tr th:each="participant, iterStat : ${participants}"
                class="odd:bg-white even:bg-gray-50 border-b border-gray-200">
                <td class="px-6 py-4 font-medium text-gray-900">
                    <div class="flex items-center space-x-3">
                        <img th:src="${participant.profileImage} ?: '/images/default-avatar.png'" alt="Profile"
                             class="w-8 h-8 rounded-full object-contain">
                        <span th:text="${participant.username}">Username</span>
                    </div>
                </td>
                <td class="px-6 py-4 hidden lg:table-cell  " th:text="${participant.fullName}">Full Name</td>
                <td class="px-6 py-4" th:text="${participant.role}">Role</td>
                <td class="px-6 py-4 hidden lg:table-cell  ">robertocarlos@gmail.com</td>
                <td class="px-6 py-4 hidden lg:table-cell  ">632334232</td>
                <td class="px-6 py-4 lg:hidden  " th:include="~{fragments/app/event/eventPage/participantInfo}"></td>
            </tr>
        </tbody>
    </table>
</div>
