<div th:fragment="inputLabel(type, name, text)" class="group relative z-0 mb-5 w-full">
  <input
    th:type="${type}"
    th:name="${name}"
    class="peer focus:border-primary block w-full appearance-none border-0 border-b-2 border-gray-300 bg-transparent px-0 py-2.5 text-sm text-gray-900 focus:ring-0 focus:outline-none"
    placeholder=" "
    required
  />
  <label
    th:text="${text}"
    class="absolute top-3 -z-10 origin-[0] -translate-y-6 scale-75 transform text-sm text-gray-500 duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:start-0 peer-focus:-translate-y-6 peer-focus:scale-75 peer-focus:font-medium peer-focus:text-blue-600 rtl:peer-focus:left-auto rtl:peer-focus:translate-x-1/4"
  ></label>
</div>
